{% extends "base.twig" %}


{# page title #}
{% block pagetitle %}{{ L.pagetitle.auth }}{% endblock %}


{# page title #}
{% block navbar %}
    <div class="navbar-right hidden-xs navbar-text">
        {{ L.authform.title }}
    </div>
{% endblock %}

{% block authhide %} hidden-xs {% endblock %}
{% block authhide1 %} hidden-xs {% endblock %}

{# body content #}
{% block pagecontent %}

    <div class="container auth-container">
        <div class="row">
            <div class="col-xs-12  col-sm-12 col-lg-6 col-lg-offset-3">
                <form method="post" action=".">
                    {% if data.dc.0|length > 1 %}
                        <div class="form-group">
                            <div class="input-group">
                                <span data-toggle="tooltip" data-placement="left" title="{{ L.authform.ttdc }}"
                                      class="input-group-addon"><span class="fa fa-server fa-fw"></span></span>
                                <select title="" name="dc" class="form-control">
                                    {% for dc in data.dc %}
                                        <option>{{ dc }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    {% else %}
                        <input type="hidden" name="dc" value="{{ data.dc }}">
                    {% endif %}
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="fa fa-user fa-fw"></span></span>
                            <input type="text" placeholder="{{ L.authform.login }}" class="form-control" id="auth-login"
                                   name="login">
                            <span class="input-group-addon" id="login_suff">{{ data.dn }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="fa fa-key fa-fw"></span></span>
                            <input type="password" placeholder="{{ L.authform.password }}" class="form-control"
                                   id="auth-pass" name="password">
                        </div>
                    </div>
                    <div class="form-group"></div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="checkbox disabled">
                                <label>
                                    <input disabled name="remember" type="checkbox"> {{ L.authform.remember }}
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <button type="submit" class="form-control btn btn-primary">
                                <span class="fa fa-sign-in fa-fw"></span> {{ L.authform.submit }}</button>
                        </div>
                    </div>
                    <input name="act" value="auth" type="hidden">
                </form>

            </div>
        </div>
    </div>

    {% if not data.dn %}
        <script>
            $(function () {
                var curr_dc = $('select option:selected').html();
                $('select').change(function () {
                    curr_dc = $('select option:selected').html();
                    check_suff();
                });
                function check_suff() {
                    var arr = curr_dc.split('.');
                    arr.splice(0, 1);
                    var str = arr.join('.');
                    $('#login_suff').html('@' + str);
                }

                check_suff();
            })
        </script>
    {% endif %}
{% endblock %}

