{% extends "base.twig" %}

{# page title #}
{% block pagetitle %}{{ pagetitle_auth }}{% endblock %}

{# page title #}
{% block navbar %}
    <div class="navbar-right hidden-xs navbar-text">
        {{ authform_title }}
    </div>
{% endblock %}

{% block authhide %} hidden-xs {% endblock %}

{# body content #}
{% block pagecontent %}

    <div class="container auth-container">
        <div class="row">
            <div class="col-xs-12  col-sm-12 col-lg-6 col-lg-offset-3">
                <form method="post" action=".">
                    {% if data.dc|length > 1 %}
                        <div class="form-group">
                            <div class="input-group">
                                <span data-toggle="tooltip" data-placement="left" title="{{ authform_ttdc }}"
                                      class="input-group-addon"><span class="glyphicon glyphicon-home"></span></span>
                                <select title="" name="dc" class="form-control">
                                    {% for dc in data.dc %}
                                        <option>{{ dc }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    {% endif %}
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            <input type="text" placeholder="{{ authform_login }}" class="form-control" id="auth-login"
                                   name="login">
                            <span class="input-group-addon" id="login_suff">{{ data.dn }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                            <input type="password" placeholder="{{ authform_password }}" class="form-control"
                                   id="auth-pass" name="password">
                        </div>
                    </div>
                    <div class="form-group"></div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="checkbox">
                                <label>
                                    <input name="remember" type="checkbox"> {{ authform_remember }}
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <input type="submit" class="form-control btn btn-default" value="{{ authform_submit }}">
                        </div>
                    </div>
                    <input name="act" value="auth" type="hidden">
                </form>

            </div>
        </div>
    </div>

    {% if not data.dn %}
        <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip();
                var curr_dc = $('select option:selected').html();
                $('select').change(function () {
                    curr_dc = $('select option:selected').html();
                    check_suff();
                });
                function check_suff() {
                    var arr = curr_dc.split('.');
                    arr.splice(0, 1);
                    var str = arr.join('.');
                    $('#login_suff').html('@' + str);
                }

                check_suff();
            })
        </script>
    {% endif %}
{% endblock %}

