<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>

    <link type="text/css" rel="stylesheet" href="./css/jquery-ui.css">
    <link type="text/css" rel="stylesheet" href="./css/schemas/bootstrap.cerulean.css">
    <link type="text/css" rel="stylesheet" href="./css/ui.fancytree.css">
    <link type="text/css" rel="stylesheet" href="./css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="./css/style.css">

    <script type="text/javascript">
        //lang_strings:
        ft_strings = {
            loading: "{{ L.js.loading }}",
            loadError: "{{ L.js.loadError }}",
            moreData: "{{ L.js.moreData }}",
            noData: "{{ L.js.noData }}"
        }
    </script>
    <script type="text/javascript" src="./js/jquery-1.12.1.min.js"></script>
    <script type="text/javascript" src="./js/js.cookie.js"></script>
    <script type="text/javascript" src="./js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="./js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./js/jquery.fancytree-all.js"></script>
    <script type="text/javascript" src="./js/script.js"></script>

    <title>Web-AD: {% block pagetitle %}{% endblock %}</title>
</head>
<body>
<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button"
                        id="navbar_tree_btn"
                        aria-expanded="false"
                        class="btn navbar-toggle collapsed {% block authhide %}{% endblock %}">
                    <span class="fa fa-list "></span>
                </button>
                <button type="button" class="navbar-toggle collapsed {% block authhide1 %}{% endblock %}"
                        data-toggle="collapse" data-target="#bs-navbar-collapse-2" aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Web-AD</a>
            </div>
            {% block navbar %}
            {% endblock %}

        </div>
    </nav>

    {% if data.error %}
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong><i class="fa fa-exclamation-triangle"> </i> {{ L.general.error }}</strong>
            {% if L.errors[data.error.code] %}
                {{ L.errors[data.error.code] }} ({{ data.error.message }})
            {% else %}
                {{ data.error.message }}
            {% endif %}
        </div>
    {% endif %}
</header>
<main>
    {% block pagecontent %}
    {% endblock %}
</main>
</body>
</html>